/* STYLING BOXES */

/* styling the page background */
body{
    background-color: #007f5f; /* backup bg col */
    background-image: url(../resources/gridBg.jpg);
    background-size: cover;
    height: 100%;
    color: rgb(255, 249, 245);
    font-family: 'Quicksand', sans-serif;
}

/* STYLING CONTENT */

/* style header (where the title etc. are */
header{
    background-color: #011627;
    height: 10vh; /* 10 units to header, 90 units to content = 100vh = fixed to viewport size */
    padding: 0 5%;
    border-bottom: 1px solid #ACCF42;
}

nav{
    padding: 1.5% 0;
}

/* styling canvas */
.canvasBox{
    padding: 5%;
    /* border: 1px solid black; */
}

/* the box that the canvas(es) are in */
#chartPrvws, #aboutBox{
    /* behaviour */
    transition-duration: 0.5s; /* for gradual colour change between dark mode & light mode */
    /* layout */
    width: 90%;
    height: auto; /* if set to, for e.g., 100%, it may not enclose all the charts especially when they stack on smaller screens */
    margin: auto;
    margin-top: 1%;
    padding: 5%;
    /* aesthetics */
    background: #011627;
    border-radius: 20px;
}

/* styling row for chart options buttons */
#chartOpt{
    padding-bottom: 3%;
    margin-bottom: 3%;
}

/* styling "sidebar" where all the options and buttons will go */
/* source: https://www.w3schools.com/css/css3_mediaqueries.asp */
@media screen and (min-width: 768px){ /* overflow-y only scrolls if the screen is 768px or bigger. this corresponds to the col-12 col-md-x classes where the columns stack at 720px or lower. Essentially, I want the scroll to only apply if the columns are not stacking. */
    #prvwBox, #options, #swatchBox, #ctrlPanel{ /* #prvwBox: where the charts are, #options: contains the two columns #swatchBox (where the colours are) & #ctrlPanel (where the buttons are) */
        overflow-y: scroll;
        overflow-x: hidden; /* to prevent horizontal scrolling */
        height: 90vh;
    }
}

@media screen and (max-width: 768px){ /* this applies when the viewport is smaller than 768px. */
    #swatchBox{
        height: auto; /* to be replaced by js windowRespond() later to match height of #ctrlPanel */
        overflow-x: hidden; /* to prevent horizontal scrolling */
    }
    #ctrlPanel{
        height: auto; 
    }
}


#prvwBox{
    padding: 1% 0;
}

#options{
    background-color: #011627; /* bg colour of sidebar */
}

/* styling content on top of the swatches */
.ctrlBox{
    padding: 8%;
    border-bottom: 1px solid #ACCF42;
}

/* styling the text area for all the colour codes */
#allCodes{
    padding: 5%;
    margin-bottom: 8%; /* more space between textarea & button below */
    border-radius: 10px;
}

.lastBox{
    border-bottom: 0px; /* to get rid of the bottom border */ /* this doesn't apply bc the js more recent smh */
}

/* styling swatches */

.swatch{
    width: 100%;
    height: 20%; /* height of entire column = 100%, 100% / 5 swatches = 20% */
    border-bottom: 2px solid #fff9f5; /* bottom only so they don't double */
    transition-duration: 0.5s; /* colour change slows down, no idea why it took me so long to find this simple answer haha (source: https://stackoverflow.com/questions/70993915/how-to-change-the-speed-of-the-color-switch-when-button-is-clicked) */
}

#ctrlPanel{ /* column with buttons */
    padding-top: 2%;
}

@media screen and (min-width: 768px){ /* only set the top margin space for screens larger than 768px */
    .optBtnBox{
        /* spacing from top */
        margin-top: 35%;
    }
}

@media screen and (max-width: 768px){ /* do not set top margin space for screens smaller than 768px */
    .optBtnBox{
        /* spacing from top (which is the colourLabel) */
        margin-top: 0%;
    }
}

/* STYLING ALIGNMENT */
.center{
    text-align: center;
}

.right{
    text-align: right;
}

/* STYLING TEXT */

/* styling individual h1 & h2 */
#logo, h1{
    font-family: 'Yeseva One', serif;
    color: #ACCF42;
    font-size: 2rem;
    line-height: 6rem; /* 1 rem usually = 16px */
}

#tagline{
    font-family: 'Quicksand', sans-serif;
    color: #fff9f5;
    font-size: 1.2rem;
    line-height: 6rem; /* 1 rem usually = 16px */
    margin-left: 5%; /* to put some spacing between "by Nadia Amir" and "charter#use" */
}

h2{
    font-family: 'Quicksand', sans-serif;
    color: #ACCF42;
    font-size: 1.3rem;
    padding: 3%; /* to match .btn padding so it looks more aligned */
    text-align: center;
    margin-bottom: 8%; /* add some space between heading & options */
}

/* style for the text appearing on the swatch */
.colourLabel{
    /* layout */
    display: inline-block; /* so the colour text doesn't line break with the lock button even as a div */
    width:  50%; /* this make sit much tidier, labels & locks */
    /* text styles */
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    text-align: center; /* align colourLabel in the middle */
    margin-top: 15%;
}

/* styling quote & quote source */
.quote, .quoteSource{
    margin: 2%; /* so that it's indented from main paragraphs */
    font-size: 1.2rem;
}

.quote{
    border-top: 1px solid #ACCF42;
    padding-top: 3%; /* space between text & top border */
}

.quoteSource{
    text-align: right; /* to align the name to the right */
    border-bottom: 1px solid #ACCF42;
    padding-bottom: 3%; /* space between text & bottom border */
    margin-bottom: 5%; /* space between bottom border & text below */
}

/* STYLING BUTTONS */

.btn{
    /* styling button appearance */
    border: 0px;
    border-radius: 10px;
    width: 80%;
    padding: 4%;
    /* styling button text */
    color: rgb(255, 249, 245);
    font-family: 'Quicksand', sans-serif;
    /* to align them center */
    display: block;
    margin: auto;
}

.btnBox{ /* to centralise buttons within their columns */
    text-align: left;
}

.gradBtn{
    /* styling button bg */
    background-color: rgba(0, 127, 95, 0.8); /* backup in case linear gradient does not work */
    background: linear-gradient(to right, rgba(0, 127, 95, 0.8), rgba(172, 207, 66,0.8)); /* linear-gradient(to direction, color stop 1, color stop 2) source: https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    font-size: 1rem;
    font-family: "Yeseva One", sans-serif;
}

/* to darken the button when hover over it */
.gradBtn:hover{
    /* styling button bg */
    background-color: rgba(0, 127, 95, 1); /* backup in case linear gradient does not work */
    background: linear-gradient(to right, rgba(0, 127, 95, 1), rgba(172, 207, 66, 1));
    color: rgb(255, 249, 245);
}

#download{ /* add space between options & button */
    margin-top: 8%; /* make it equal to h3{margin-bottom:;} */
}

/* all outline buttons */
.outlineBtn{
    /* styling button bg */
    background-color: #011627;
    border: 1px solid rgba(172, 207, 66, 1);
    font-size: 1rem;
    margin-top: 5%;
}

.outlineBtn:hover{
    /* styling button bg */
    background-color: rgba(0, 127, 95, 1);
    color: #fff9f5;
}

/* styling slightly different layout options for randomise & reset data & mode buttons */
/* # styling takes priority over . styling (source: https://www.bestcolleges.com/bootcamps/guides/css-class-vs-id/)*/
#randBtn, #resetBtn, #modeBtn{
    width: auto;
    padding: 1% 2%; /* 1% top bottom, 2% right left */
    display: inline-block; /* so that the buttons will be next to each other, i don't know why they weren't ;; */
    margin-top: 0; /* overwrite the margin-top that .outlineBtn has */
}

/* styling buttons on the swatch (copy, lock, edit) */
.optBtn{
    /* styling button bg */
    background-color: transparent;
    /* styling button appearance */
    border: 0px;
    border-radius: 10px;
    width: 90%; /* takes up 90% of the width in col-4 */
    height: auto;
    padding: 0;
    /* styling button text */
    font-family: 'Quicksand', sans-serif;
    color: inherit;
}

/* styling svgs */

/* for the lock icons */
.lockIcon{
    /* percentage values will be equal here as they are based on parent element (optBtn). */
    /* optBtn has js function & eventlistener that will make sure it's always a square */
    width: 65%;
    height: 65%;
    aspect-ratio: 1;
}