/* all responsive class properties are marked as !important in bootstrap, so we have to do that too to override */

/*** STYLES FOR MAIN CONTAINERS ***/
#titleScreen{
    background-color: #011627; /* backup */
    background-image: url(../resources/title.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 2%;
    overflow: hidden;
}

/*** STYLES FOR LOGO ***/
h1{
    font-size: 8rem;
    text-align: center;
    color: #ACCF42;
    font-family: "Fredericka the Great";
    /* glow shows gradually */
    transition: all 0.2s linear;
}

.p-0{
    padding:1px;
    line-height: 0;
}

.right{
    text-align: right !important;
}

#title{
    position: relative;
}

#titleCont{
    position: relative;
}

/*** ANIMATION STYLES ***/
/** INSPIRATION: https://codepen.io/lycanone/pen/BpMLEW**/

.line{
    /* fix it exactly behind logo */
    position: absolute;
    /* put it behind button */
    z-index: 0;
    /* set the background */
    background-color: #1c93ad; /* backup bg colour */
    background-image: linear-gradient(to right, #ACCF42, #1c93ad);
    height: 5px;
    width: 5px;
    border-radius: 2.5px; /* curve tip */
    transition: all 0.2s linear;
}

/* position lines 
line1 & line2: move left
line3 & line4: move right
line5 & line6: move up
line7 & line8: move down
*/

#line1{
    /* -value above/below the edge */
    /* choose based on which direction line will move in (easier) */
    /* move up, make sense to start from bottom & vice versa. property = opposite of movement direction */
    top: -20%;
    /* side position */
    right: -25%;
    /* width */
    width: 80%;
}

#line2{
    /* -value above/below the edge */
    top: -20%;
    /* side position */
    right: 60%;
    /* width */
    width: 10%;
}

#line3{
    /* -value above/below the edge */
    bottom: -35%;
    /* side position */
    left: 50%;
    /* width */
    width: 8%;
}

#line4{
    /* -value above/below the edge */
    bottom: -35%;
    /* side position */
    left: -30%;
    /* width */
    width: 75%;
}

#line5{
    /* -value above/below the edge */
    bottom: -100%;
    /* side position */
    left: -8%;
    /* height */
    height: 30%;
}

#line6{
    /* -value above/below the edge */
    bottom: -50%;
    /* side position */
    left: -8%;
    /* height */
    height: 230%;
}

#line7{
    /* -value above/below the edge */
    top: -100%;
    /* side position */
    right: -8%;
    /* height */
    height: 200%;
}

#line8{
    /* -value above/below the edge */
    top: -150%;
    /* side position */
    right: -8%;
    /* height */
    height: 20%;
}

/* transform position */

#titleCont:hover #line1{
    transform: translateX(25%);
    box-shadow: 0px 0px 8px #1c93ad;
}

#titleCont:hover #line2{
    transform: translateX(100%);
    box-shadow: 0px 0px 8px #1c93ad;
}

#titleCont:hover #line3{
    transform: translateX(-100%);
    box-shadow: 0px 0px 8px #1c93ad;
}

#titleCont:hover #line4{
    transform: translateX(-25%);
    box-shadow: 0px 0px 8px #1c93ad;
}

#titleCont:hover #line5{
    transform: translateY(-150%);
    box-shadow: 0px 0px 8px #1c93ad;
}

#titleCont:hover #line6{
    transform: translateY(-40%);
    box-shadow: 0px 0px 8px #1c93ad;
}

#titleCont:hover #line7{
    transform: translateY(52%);
    box-shadow: 0px 0px 8px #1c93ad;
}

#titleCont:hover #line8{
    transform: translateY(500%);
    box-shadow: 0px 0px 8px #1c93ad;
}

/* add "glow" to logo on hover */
#titleCont:hover h1{
    /* offset-x | offset-y | how much blur | color */
    text-shadow: 0px 0px 8px #3dacc5;
}